<!--=================================
    Footer
    =================================-->
<footer class="doc-footer text-uppercase text-center text-bold">
    <div class="container">
        <ul class="social-list style2 circular">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-google-plus"></a></li>
            <li><a href="#" class="fa fa-tumblr"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-dribbble"></a></li>
            <li><a href="#" class="fa fa-tumblr"></a></li>
            <li><a href="#" class="fa fa-vimeo"></a></li>
        </ul>
        <div class="row">
            <div class="col-xs-12">
                <strong>&copy; Copyright  2015  suono</strong>
                <p>on suono you can listen to thousands songs and buy your favorite songs or albums.</p>
            </div>
        </div>
    </div>
</footer>
