<!--========================================
        Header Content
        ===========================================-->
<header id="sticktop" class="doc-header">
    <!--========================================
    Player
    ===========================================-->
    <section id="audio-player" class="the-xv-Jplayer" style="display:none;">
        <div id="player-instance" class="jp-jplayer"></div>
        <div class="controls jp-controls-holder">
            <button class="playList-trigger pc-playlist2"></button>
            <div class="jp-prev pc-back"></div>
            <div class="play-pause jp-play pc-play"></div>
            <div class="play-pause jp-pause fa pc-pause" style=" display:none"></div>
            <div class="jp-next pc-next"></div>
        </div>
        <div class="jp-volume-controls">
            <button class="sound-trigger pc-volume"></button>
            <div class="jp-volume-bar" style="display: none;">
                <div class="jp-volume-bar-value" style="width: 1.4737%;"></div>
            </div>
        </div>
        <h5 class="audio-title">&ensp;</h5>
        <div class="player-status">
            <div class="audio-progress">
                <div class="jp-seek-bar">
                    <div class="audio-play-bar jp-play-bar" style="width:20%;"></div>
                </div><!--jp-seek-bar-->
            </div><!--audio-progress-->
        </div>
        <!--player-status-->
        <!--Add Songs In mp3 formate here-->
        <ul class="hidden playlist-files">
            <li data-title="Ukulele Story"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/152256065/preview.mp3">
            </li>
            <li data-title="Bright and Inspiring"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/152351972/preview.mp3">
            </li>
            <li data-title="Indie Rock"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/162668841/preview.mp3">
            </li>
            <li data-title="Up in the Sky"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/69092344/preview.mp3">
            </li>
            <li data-title="Inspiring"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/167149310/preview.mp3">
            </li>
            <li data-title="Inspiring Thoughts"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/156059055/preview.mp3">
            </li>

            <li data-title="Gypsy Jazz From France"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/152733871/preview.mp3">
            </li>
            <li data-title="Happy"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/166500700/preview.mp3">
            </li>
            <li data-title="The Water Clock"
                data-artist="Audio Jungle"
                data-mp3="https://0.s3.envato.com/files/151397943/preview.mp3">
            </li>

        </ul>
        <!--Playlist ends-->

        <div class="jp-playlist">
            <ul>
                <li></li>
            </ul>
        </div>

    </section>
    <!--========================================
    Nav
    ===========================================-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="assets/img/basic/logo.png" alt="" />
                </a>
            </div>

            <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                <button class="menuTrigger"><i class="fa fa-navicon"></i></button>
                <div class="clearfix"></div>
                <ul class="dl-menu">
                    <li class="parent"><a href="/">Home</a></li>
                    <li><a href="blog.html">News &amp; Blog</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="Event/">Events</a></li>
                    <li class="parent">
                        <a href="#">Pages</a>
                        <ul class="dl-submenu">
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="blog-single.html">Blog Single Page</a></li>

                        </ul>
                    </li>
                    <li><a href="#" class="no-ajaxy" role="button" data-toggle="modal" data-target="#login-modal">Subscribe</a></li>
                </ul>
            </div><!-- /dl-menuwrapper -->
        </div>
    </nav>
</header>
