<!--=================================================
        Tweets
        ==================================================-->

<div class="parallax parallax_one text-bold text-center" data-stellar-background-ratio="0.5">
    <div class="parallax_inner">
        <div class="container">
            <span class="fa fa-twitter parallax-icon"></span>
            <div class="tweet"></div>
        </div>
    </div>
</div><!--parallax-->
