<!--=================================
    Similar Albums
    =================================-->
<section class="mt-30 mb-100">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-uppercase">More Events In Near Future.</h2>
                </div>
            </div>
        </div>
    </header><!--section header-->

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="store-grid text-uppercase text-bold store-grid-slider">
                    <div class="store-product">
                        <figure>
                            <img width="265" height="265" src="assets/demo-data/a2.jpg">
                            <figcaption>
                                <a href="#" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                            </figcaption>
                        </figure>
                        <div class="product-info">
                            <h3>Event Name</h3>
                            <h6><i class="fa fa-clock-o"></i>05/02/2016</h6>
                            <span class="price-tag">$16.90</span>
                        </div>
                    </div> <!--store-product-->
                    <div class="store-product">
                        <figure>
                            <img width="265" height="265" src="assets/demo-data/a3.jpg">
                            <figcaption>
                                <a href="#" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                            </figcaption>
                        </figure>
                        <div class="product-info">
                            <h3>Event Name</h3>
                            <h6><i class="fa fa-clock-o"></i>28/01/2016</h6>
                            <span class="price-tag">$16.90</span>
                        </div>
                    </div> <!--store-product-->
                    <div class="store-product">
                        <figure>
                            <img width="265" height="265" src="assets/demo-data/a4.jpg">
                            <figcaption>
                                <a href="#" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                            </figcaption>
                        </figure>
                        <div class="product-info">
                            <h3>Event Name</h3>
                            <h6><i class="fa fa-clock-o"></i>07/01/2016</h6>
                            <span class="price-tag">$16.90</span>
                        </div>
                    </div> <!--store-product-->
                    <div class="store-product">
                        <figure>
                            <img width="265" height="265" src="assets/demo-data/a5.jpg">
                            <figcaption>
                                <a href="#" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                            </figcaption>
                        </figure>
                        <div class="product-info">
                            <h3>Event Name</h3>
                            <h6><i class="fa fa-clock-o"></i>13/02/2016</h6>
                            <span class="price-tag">$16.90</span>
                        </div>
                    </div> <!--store-product-->
                    <div class="store-product">
                        <figure>
                            <img width="265" height="265" src="assets/demo-data/a6.jpg">
                            <figcaption>
                                <a href="#" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                            </figcaption>
                        </figure>
                        <div class="product-info">
                            <h3>Event Name</h3>
                            <h6><i class="fa fa-clock-o"></i>21/01/2016</h6>
                            <span class="price-tag">$16.90</span>
                        </div>
                    </div> <!--store-product-->


                </div><!--album-grid-->
            </div><!--column-->
        </div><!--row-->


        <div class="navigators text-bold text-uppercase text-center">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#"><i class="fa fa-arrow-left"></i> Previous  Events</a>
                </div>
                <div class="col-xs-6">
                    <a href="#">Next  Events <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div><!--container-->

</section>
