<!--=================================================
    gallery
    ==================================================-->
<section>


    <header class="parallax parallax_two style3 text-center text-uppercase text-bold" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Event Galleries</h2>
                    <p>Galleries of recent events</p>
                </div>
            </div>
        </div>
    </header><!--section header-->

    <div class="photography">
        <div class="container">
            <div class="xvPackeryItems">
                <div class="xvPackeryItem featured w2" style="background-image:url(assets/demo-data/ev1.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>17 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>

                <div class="xvPackeryItem featured" style="background-image:url(assets/demo-data/ev14.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>17 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>

                <div class="xvPackeryItem featured" style="background-image:url(assets/demo-data/ev2.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>19 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>

                <div class="xvPackeryItem featured" style="background-image:url(assets/demo-data/ev3.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>21 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>


                <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev9.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>44 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>

                <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev11.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>35 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>

                <div class="xvPackeryItem featured w2" style="background-image:url(assets/demo-data/ev10.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>11 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>

                <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev6.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>25 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>



                <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev12.jpg">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>34 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>


                <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev13.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>7 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>

                <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev7.jpg)">
                    <a href="#">
                        <div class="eventInfo">
                            <h3>Event Name</h3>
                            <span>17 Pictures</span>
                        </div>
                    </a><!--movie-->
                </div>


            </div>
        </div><!--container-->
    </div><!--movies-->


</section>
