
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ajaxArea">
    <!--=================================
    Events Countdown
    =================================-->

    <section class="events-countdown parallax parallax_five parallax_overlay text-bold" data-stellar-background-ratio="0.5">
        <div class="parallax_inner">
            <div class="albumAction">
                <div class="container">
                    <a class="btn btn-dark text-uppercase text-bold" href="#">
                        <i class="fa fa-play"></i> Preview
                    </a>
                    <a class="btn btn-default text-uppercase text-bold" href="#">
                        <i class="fa fa-cloud-download"></i> Buy Tickets
                    </a>
                </div>
            </div>
            <div class="event">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 slide-visual">
                            <figure class="">
                                <img src="assets/demo-data/s1.jpg" alt="" />
                            </figure>
                        </div><!--column-->
                        <div class="col-xs-12 col-sm-6 col-md-6 about-album">
                            <div class="event-details">
                                <h2>Mercurio</h2>
                                <h6>by emis killa</h6>
                                <p>
                                    <strong>The Brand New album of rapper emis killa.</strong><br /> Buy the new album or listen 30 sec.<br>of all tracks!
                                </p>

                                <ul class="countdown clearfix mt-10">
                                    <li>
                                        <div class="text">
                                            <span class="days">20</span>
                                            <p class="days_ref">days</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="text">
                                            <span class="hours">10</span>
                                            <p class="hours_ref">hours</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="text">
                                            <span class="minutes">30</span>
                                            <p class="minutes_ref">minutes</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="text">
                                            <span class="seconds">00</span>
                                            <p class="seconds_ref">seconds</p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div><!--column-->
                    </div><!--row-->
                </div>
            </div>




        </div>
    </section>

    <!--=================================================
    events finder
    ==================================================-->

    <section class="events-finder">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h2 class="text-uppercase">Latest Events.</h2>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <div class="event-form text-right">
                            <form>
                                <div class="form-input search-keyword">
                                    <input type="text" placeholder="Search Keyword">
                                    <i class="icon fa fa-search"></i>
                                </div>
                                <div class="form-input select-date">
                                    <input type="text" class="xvDatePicker" placeholder="">
                                    <i class="icon fa fa-calendar"></i>
                                </div>
                                <div class="form-input select-location">
                                    <div class="custome-select">
                                        <b class="fa fa-bars"></b>
                                        <span>Select a Category</span>
                                        <select id="search-dropdown-box" class="search-cate notranslate">
                                            <option value="">Option1</option>
                                            <option value="">Option2</option>
                                            <option value="">Option3</option>
                                            <option value="">Option4</option>
                                            <option value="">Option5</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-default" type="submit">fınd event</button>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <div class="featured-events">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="store-grid text-uppercase text-bold">
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a1.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>10/02/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a2.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>05/02/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a3.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>28/01/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a4.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>07/01/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a5.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>13/02/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a6.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>21/01/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a7.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>15/02/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a8.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>20/01/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a9.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>27/01/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                            <div class="store-product">
                                <figure>
                                    <img width="265" height="265" src="assets/demo-data/a10.jpg">
                                    <figcaption>
                                        <a href="event-single.html" class="btn btn-grey"><i class="fa fa-ticket "></i> Buy Ticket</a>
                                    </figcaption>
                                </figure>
                                <div class="product-info">
                                    <h3>Event Name</h3>
                                    <h6><i class="fa fa-clock-o"></i>20/01/2016</h6>
                                    <span class="price-tag">$16.90</span>
                                </div>
                            </div> <!--store-product-->
                        </div><!--album-grid-->
                        <a class="btn btn-wide btn-grey text-uppercase text-bold" href="store.html">View All</a>
                    </div><!--column-->
                </div>
            </div>
        </div>
    </section>

    <!--=================================================
    gallery
    ==================================================-->
    <section>


        <header class="parallax parallax_two style3 text-center text-uppercase text-bold" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Event Galleries</h2>
                        <p>Galleries of recent events</p>
                    </div>
                </div>
            </div>
        </header><!--section header-->

        <div class="photography">
            <div class="container">
                <div class="xvPackeryItems">
                    <div class="xvPackeryItem featured w2" style="background-image:url(assets/demo-data/ev1.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>17 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>

                    <div class="xvPackeryItem featured" style="background-image:url(assets/demo-data/ev14.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>17 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>

                    <div class="xvPackeryItem featured" style="background-image:url(assets/demo-data/ev2.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>19 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>

                    <div class="xvPackeryItem featured" style="background-image:url(assets/demo-data/ev3.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>21 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>


                    <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev9.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>44 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>

                    <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev11.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>35 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>

                    <div class="xvPackeryItem featured w2" style="background-image:url(assets/demo-data/ev10.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>11 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>

                    <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev6.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>25 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>



                    <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev12.jpg">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>34 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>


                    <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev13.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>7 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>

                    <div class="xvPackeryItem" style="background-image:url(assets/demo-data/ev7.jpg)">
                        <a href="#">
                            <div class="eventInfo">
                                <h3>Event Name</h3>
                                <span>17 Pictures</span>
                            </div>
                        </a><!--movie-->
                    </div>


                </div>
            </div><!--container-->
        </div><!--movies-->


    </section>

    <!--=================================================
    Contact
    ==================================================-->
    <section>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="text-uppercase">Contact us.</h2>
                    </div>
                </div>
            </div>
        </header><!--section header-->
        <div class="container">
            <form id="contactForm" novalidate class="text-uppercase text-semibold row">
                <div class="col-xs-12 col-sm-6">
                    <div class="field-wrap">
                        <label for="xv_name">your Name</label>
                        <input name="xv_name" id="xv_name" type="text" required="required" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="field-wrap">
                        <label class="tranparent" for="xv_email">you@example.com</label>
                        <input name="xv_email" class="tranparent" id="xv_email" type="email" required="required" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="field-wrap textarea-wrap">
                        <label for="xv_message">Your Message</label>
                        <textarea name="xv_message" id="xv_message" required></textarea>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-default btn-md" type="submit">send message</button>
                </div>
                <div class="col-xs-12 text-center">
                    <div class="validationError">
                        <div class="alert alert-danger" role="alert">
                            Oh snap! Change a few things up and try submitting again.
                        </div>
                    </div>
                </div>
            </form>

            <div class="messageSentSuccess">
                <div class="alert alert-success" role="alert">Message has been sent successfully, we will be in touch</div>
            </div>

        </div><!--container-->

    </section>

    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <img class="img-circle" id="img_logo" src="assets/img/logo/MusicpadLogo.png">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">
                    <!-- Begin # Login Form -->
                    <form id="login-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Type your username and password.</span>
                            </div>
                            <input id="login_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                            <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block btn-default">Login</button>
                            </div>
                            <div>
                                <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                                <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>
                    <!-- End # Login Form -->
                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="">
                        <div class="modal-body">
                            <div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Enter your email to subscribe.</span>
                            </div>
                            <input id="lost_email" class="form-control" type="text" placeholder="E-Mail" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-lg btn-block btn-default">Send</button>
                            </div>
                            <div style="display:none;">
                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Lost Password Form -->
                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Register an account.</span>
                            </div>
                            <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                            <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                            <input id="register_password" class="form-control" type="password" placeholder="Password" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block btn-default">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Register Form -->

                </div>
                <!-- End # DIV Form -->

            </div>
        </div>
    </div>
    <!-- END # MODAL LOGIN -->

</div>

