@using MusicEventApp.ViewModels
@model List<EventViewModal>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ajaxArea">
    
    @{ Html.RenderPartial("_HeaderEventPartial"); }

    @{ Html.RenderPartial("_LatestEventsPartial"); }

    @*@{ Html.RenderPartial("_EventGalleryPartial"); }*@

    @{ Html.RenderPartial("_ContactUsPartial"); }

    @{ Html.RenderPartial("_AppDownloadModalPartial"); }

</div>
  
